p.desc{
  font-family: $futStdConLight;
  color:$grayMedium;
  font-size: 21px;
  margin: 45px 0 60px;
  padding: 0 6px;
}
.contact-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;
  @media screen and (max-width: 768px){
    width: 96%;
    margin: auto 50px;
    flex-direction: column;
    align-items: center;
  }
  .form-container{
    width: 40%;
    max-width: 485px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 992px){
      width: 50%;
    }
    @media screen and (max-width: 768px){
      width: 100%;
      margin-bottom: 25px;
    }
    label{
      font-family: $futStdHeavy;
      color:$grayMedium;
      font-size: 20px;
    }
    .field{
      width: 100%;
      height: 45px;
      margin-bottom: 24px;
      border: 1px solid $green;
      text-indent: 6px;
      font-family:$futStdMedium;
    }
    .message{
      min-height: 245px;
    }
    button.send{
      width: 180px;
      height: 30px;
      border: 1px solid $grayDark;
      font-family: $futStdMedium;
      color:$white;
      background: $grayDark;
      font-size: 19px;
      text-align: center;
      line-height: 30px;
      transition: all .3s;
      cursor: pointer;
      margin: 8px auto;
      display: flex;
      justify-content: center;

      &:hover{
        background: $white;
        color:$grayDark;
      }
    }
  }
  .info{
    width: 40%;
    max-width: 390px;
    @media screen and (max-width: 992px){
      width: 30%;
    }
    @media screen and (max-width: 768px){
      width: 100%;
    }
    .flex-row{
      width: 100%;
      h4.head{
        width: 100%;
        height: 45px;
        background: $green;
        font-family: $lato;
        font-size: 25px;
        color: $white;
        margin: 0;
        display: flex;
        align-items: center;
        &::before{
          padding-left: 10px;

          margin-right: 12px;
          font-size: 32px;
        }
        @media screen and (max-width: 992px){
          font-size: 21px;
        }

      }
      span.text{
        display: inline-block;
        font-family: $futStdConLight;
        color:$grayLight;
        font-size: 22px;
        margin: 20px 0;
      }
    }
  }
}