<!-- Modal -->

<div class="modal fade" id="enviado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header" style="background: #8BC53F;color:#FFFFFF; font-family: 'Roboto';">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Gracias por contactarnos</h4>

		</div>
		<div class="modal-body">

			<p>Agradecemos tu curiosidad, pronto nos estaremos poniendo en contacto contigo</p>


		</div>

	</div>
</div>
</div>
<script>


</script>

