{% extends "@Front/Default/base.html.twig" %}
{% block title %}Productos{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <figure class="banner">
        <img src="{{ asset('img/banners/banners-servicios.jpg') }}" class="img-responsive" alt="">
    </figure>
    <div class="container services-container">

        <h1 class="title-serv">SERVICIOS</h1>

        <div class="serv-item">
            <h2 class="service">Reparación de pc's y laptops</h2>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend placerat maximus. Maecenas dictum quis elit eget porta. Donec ut lorem eget est feugiat porta. Aliquam dignissim neque commodo, blandit sapien ac, tincidunt odio. Maecenas et ligula in nisi ornare fringilla id sed mauris.  Quisque eu eros nec dui laoreet dapibus. Praesent rhoncus mauris nibh, pharetra tempor enim blandit in. Nunc fermentum, dui vel varius vulputate, tellus ex ultricies lectus, eget efficitur erat est eget mauris.</p>
        </div>

        <div class="serv-item">
            <h2 class="service">Instalación de redes de oficina</h2>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend placerat maximus. Maecenas dictum quis elit eget porta. Donec ut lorem eget est feugiat porta. Aliquam dignissim neque commodo, blandit sapien ac, tincidunt odio. Maecenas et ligula in nisi ornare fringilla id sed mauris.  Quisque eu eros nec dui laoreet dapibus. Praesent rhoncus mauris nibh, pharetra tempor enim blandit in. Nunc fermentum, dui vel varius vulputate, tellus ex ultricies lectus, eget efficitur erat est eget mauris.</p>
        </div>

        <div class="serv-item">
            <h2 class="service">Instalación de alarmas de seguridad</h2>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend placerat maximus. Maecenas dictum quis elit eget porta. Donec ut lorem eget est feugiat porta. Aliquam dignissim neque commodo, blandit sapien ac, tincidunt odio. Maecenas et ligula in nisi ornare fringilla id sed mauris.  Quisque eu eros nec dui laoreet dapibus. Praesent rhoncus mauris nibh, pharetra tempor enim blandit in. Nunc fermentum, dui vel varius vulputate, tellus ex ultricies lectus, eget efficitur erat est eget mauris.</p>
        </div>

        <div class="serv-item">
            <h2 class="service">Instalación de cámaras de seguridad</h2>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend placerat maximus. Maecenas dictum quis elit eget porta. Donec ut lorem eget est feugiat porta. Aliquam dignissim neque commodo, blandit sapien ac, tincidunt odio. Maecenas et ligula in nisi ornare fringilla id sed mauris.  Quisque eu eros nec dui laoreet dapibus. Praesent rhoncus mauris nibh, pharetra tempor enim blandit in. Nunc fermentum, dui vel varius vulputate, tellus ex ultricies lectus, eget efficitur erat est eget mauris.</p>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
